/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  position: relative; }

body.dark-elf {
  background-color: #040921;
  color: #8D9EAF; }

.mysterious-text {
  color: #292E47;
  font-family: "Tengwar Annatar", serif;
  font-size: 26px;
  line-height: 40px;
  position: relative; }
  .mysterious-text.top {
    position: absolute;
    top: -36px; }
  .mysterious-text.bottom {
    position: absolute;
    bottom: -36px; }

.mysterious-text-overlay {
  background-image: -webkit-linear-gradient(top, transparent, #040921);
  background-image: linear-gradient(to bottom, transparent, #040921);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .mysterious-text-overlay.reverse {
    background-image: -webkit-linear-gradient(bottom, transparent, #040921);
    background-image: linear-gradient(to top, transparent, #040921); }

.tutorial-content {
  position: relative;
  top: 150px; }

.container {
  margin: auto;
  max-width: 680px; }

h1 {
  text-align: center; }

.dark-elf h1 {
  color: #7F50B1;
  font-family: "First Order", serif;
  font-size: 60px;
  line-height: 60px;
  text-shadow: 0px 0px 10px rgba(152, 64, 255, 0.74); }

.intro {
  color: #8D9EAF;
  font-family: 'Gentium Book Basic', serif;
  font-size: 19px;
  line-height: 36px;
  margin-top: 80px; }
