@import 'reset';



$DE_bg:   #040921;
$DE_tx:   #8D9EAF;
$DE_hd:   #7F50B1;
$DE_glow: #9840FF;
$DE_mystry_txt: #292E47;
$DE_hd_font: 'First Order', serif;

$font_ta: 'Tengwar Annatar', serif;

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  z-index: 1;
}

body.dark-elf {
  background-color: $DE_bg;
  color: $DE_tx;
}

.mysterious-text {
  color: $DE_mystry_txt;
  font-family: $font_ta;
  font-size: 26px;
  line-height: 40px;
  position: relative;
  text-align: justify;
  z-index: 1;
}

.mysterious-text.top {
  position: absolute;
  top: 0;
}

.mysterious-text.bottom {
  position: absolute;
  bottom: 0;
}

.mysterious-text-overlay {
  background-image: linear-gradient( to bottom, transparent, $DE_bg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
}

.mysterious-text.bottom .mysterious-text-overlay {
  background-image: linear-gradient( to top, transparent, $DE_bg);
}

.tutorial-content {
  position: relative;
  top: 150px;
  z-index: 3;
}

.container {
  margin: auto;
  max-width: 680px;
}

h1 {
  text-align: center;
}

.dark-elf h1 {
  color: $DE_hd;
  font-family: $DE_hd_font;
  font-size: 60px;
  line-height: 60px;
  text-shadow: 0px 0px 10px rgba(152,64,255,0.74);
}

.intro {
  color: $DE_tx;
  font-family: 'Gentium Book Basic', serif;
  font-size: 19px;
  line-height: 36px;
  margin-top: 80px;
}
